:root {
  --player-lookup-width: 170px;
}

/* Server info */
#server-info {
	width: 190px;
	max-width: 210px;
	padding: 10px;
	text-align: right;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#server-info-title {
	font-weight: 700;
	font-size: large;
	text-align: center;
}

/* A single div with a var like Online Players: 98 */
.server-info-entry {
	font-weight: 400;
	font-size: medium;
	text-align: center;
}

/* Player popup */

#player-lookup-loading {
	font-size: larger;
	font-weight: 500;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 5px;
	/* ensure it stays on the left below the menu */
	clear: both !important;
	display: block !important;
	width: auto;
}

#player-lookup {
	width: var(--player-lookup-width);
	font-size: larger;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 8px;
	box-sizing: border-box;
	/* ensure it stays on the left below the menu */
	clear: both !important;
	display: block !important;
	float: left !important;
}

#player-lookup > .close-container {
	position: relative;
	cursor: pointer;
	font-size: medium;
	bottom: 6px;
	left: calc(var(--player-lookup-width) - 35px);
	padding-top: 1.5px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	background: rgb(174, 14, 14);
	border: white 1px solid;
	border-radius: 0px 3px 0px 0px;
}

#player-lookup > .close-container:hover {
	background-color: rgba(127, 127, 125, 0.5);
}

#player-lookup-online {
	position: absolute;
	top: 5px;
	left: 5px;
}

#player-lookup-avatar {
	margin: 5px auto auto auto;
	display: block;
	width: 32px;
	box-shadow: 0 0 10px 1px #131313;
}

#player-lookup-name {
	line-height: 30px;
}

/* Main sidebar */
#sidebar {
	width: auto;
	max-width: 200px;
	padding: 5px;
	float: left !important;
}

.option {
	display: flex;
	justify-content: space-between;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.sidebar-option {
	width: inherit;
	height: fit-content;
	display: flex;
	align-items: stretch;
}

.sidebar-input {
	width: 100%;
}

.sidebar-button {
	height: 30px;
	flex-grow: 1;
	font-kerning: none;
    font-weight: 500;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid;
    border-radius: 3px;
}

#archive-input {
	width: inherit;
}

#locate-menu {
	padding-bottom: 10px;
	display: grid;
}

#locate-select {
	text-align: center;
}

#locate-button {
	width: inherit;
}

#switch-map-mode {
	width: 130px;
}

#options-button {
	width: 70px;
}

#options-menu {
	width: inherit;
	margin-top: 3px;
}

#current-map-mode-label {
	display: block;
	box-sizing: border-box;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
}

/* Town popup */

#scrollable-list {
	overflow: auto;
	max-height: 200px;
}

#clamped-board {
	max-width: 400px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.resident-list {
	white-space: pre-wrap;
}

#part-of-label {
	font-size: 85%;
}

.resident-clickable:hover {
	background-color: rgba(127, 127, 125, 0.5);
	cursor: pointer;
}

/* Alert */

#alert {
	position: absolute;
	width: 300px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: white;
	color: #131313d4;
	backdrop-filter: blur(5px);
	font-size: large;
	box-sizing: border-box;
	padding: 8px;
	text-align: center;
}

#alert-message {
	margin-block: 0;
}

/* Clickable nameplates */

.leaflet-tooltip {
	pointer-events: unset !important;
}

.leaflet-tooltip:hover {
	background-color: rgba(127, 127, 127, 0.5);
	cursor: pointer;
}

.leaflet-control {
	float: inline-end !important; /** sidebar and player lookup are float: left !important */
	clear: none !important;
	backdrop-filter: blur(5px);
}

.leaflet-control-layers {
	border: none !important;
	border-radius: 3px !important;
	background: #ffffffa6 !important; /** htmlCode.darkMode will override this if enabled */
}

.leaflet-bottom.leaflet-left {
	display: flex;
	flex-direction: row;
}

.leaflet-popup {
	backdrop-filter: blur(2px);
}