/* For the old map? */

.left-container {
	width: 150px;
	text-align: justify;
	font-size: larger;
	padding: 5px;
	box-sizing: border-box;
}

.close-container {
	position: relative;
	left: 120px;
	cursor: pointer;
}

.close-container:hover {
	background-color: rgba(127, 127, 125, 0.5);
}

/* Player lookup */

#player-lookup {
	text-align: unset;
}

#player-lookup-online {
	position: absolute;
	top: 5px;
	left: 5px;
}

#player-lookup-avatar {
	margin: 10px auto auto auto;
	display: block;
	width: 32px;
	box-shadow: 0 0 10px 1px #131313;
}

#player-lookup-name {
	line-height: 40px;
}

#sidebar {
	width: auto;
	max-width: 200px;
	padding: 5px;
}

/* Main sidebar */
.sidebar-option {
	width: inherit;
	height: fit-content;
	display: flex;
	align-items: stretch;
}

.sidebar-input {
	width: 100%;
}

.sidebar-button {
	height: 30px;
	flex-grow: 1;
	font-kerning: none;
    font-weight: 500;
    font-size: 12px;
    font-family: system-ui;
    border: 1px solid;
    border-radius: 3px;
}

#current-map-mode-label {
	display: block;
	box-sizing: border-box;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
}

#locate-menu {
	padding-bottom: 10px;
	display: grid;
}

#locate-select {
	text-align: center;
}

#locate-button {
	width: inherit;
}

#options-button {
	width: inherit;
}

#options-menu {
	width: inherit;
	margin-top: 3px;
}

.option {
	display: flex;
	justify-content: space-between;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#archive-input {
	width: inherit;
}

/* Town popup */

#scrollable-list {
	overflow: auto;
	max-height: 200px;
}

#clamped-board {
	max-width: 400px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.resident-list {
	white-space: pre-wrap;
}

#part-of-label {
	font-size: 85%;
}

.resident-clickable:hover {
	background-color: rgba(127, 127, 125, 0.5);
	cursor: pointer;
}

/* Alert */

#alert {
	position: absolute;
	width: 300px;
	font-family: 'Arial';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: white;
	color: #131313;
	font-size: large;
	box-sizing: border-box;
	padding: 8px;
	text-align: center;
}

#alert-message {
	margin-block: 0;
	text-align: justify;
}

/* Clickable nameplates */

.leaflet-tooltip {
	pointer-events: unset !important;
}

.leaflet-tooltip:hover {
	background-color: rgba(127, 127, 127, 0.5);
	cursor: pointer;
}

.leaflet-control {
	clear: none !important;
}

.leaflet-control-layers {
	display: flex;
	flex-direction: column;
	float: right;
	border: none !important
}

.leaflet-bottom.leaflet-left {
	display: flex;
	flex-direction: row;
}

#player-lookup-loading {
	width: auto;
}